/* jquery-ui overrides */
#accordion .ui-widget-content a {
color: #A6093D;
}
#accordion .ui-accordion-header {
  font-size: 1.3em;
}
#accordion .ui-accordion-header-icon {
  margin-right: 5px;
}
#accordion .ui-state-default {
  background-color: #BFD0D4;
  color: #444444 !important;
}
#accordion .ui-state-hover {
  background-color: #A4BCC2;
  color: #444444 !important;
}
#accordion .ui-state-active {
  background-color: #425563;
  color: white !important;
  border: 1px solid #768692;
}
#accordion .ui-accordion-content {
  background-color: #eee;
}
#accordion .ui-accordion-content li {
  margin-bottom: 5px;
  }
/* end jquery-ui overrides */

.notebox {
  background:#768692 ;
  width: 100%;
  color: white;
  font-size: 30px;
}

textarea {
  width: 100%;
  height: 250px;
}