html{
    /* margin-top: 250px; */
    margin-right: 25px;
    margin-left: 25px;
    font: 18px/1.4 system-ui;
    position: center;
  }
  body{
    background-color: rgb(104,139,56);
    position: center;
    margin-right: 15px;
    margin-left: 15px;
  }
  .row-aboutMe {
    font-size: 14px;
    color: white;
    margin-right: 25px;
    margin-left: 25px;
  }
  h1 {
    padding-top: 20px;
  }
  h5 {
    color:  rgb(39,79,114);
    font-weight: bold;
    font-size: 20px;
  }
  .row {
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
  }
  .p-below-nav {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  width: 100%;
  }
  header {
    background-color:  rgb(39,79,114);
    color: white;
    font-size: 35px;
    margin-bottom: 25px;
    border-bottom:  rgb(100, 88, 152);;
    width: 100%;
  }
  .img-header {
    float: left;
    width: 100px;
    height: 100px;
    padding: 20px;
  }
  nav{
    width: 100%;
  }
  .btn {
    color: rgb(104,139,56);
  }
  .img-card-portfolio {
    float: left;
    margin: 40px;
    padding: 30px;
  }
  .alert-warning{
    background-color: rgb(39,79,114);
  }
  .card-img-top-services{
    color: rgb(39,79,114);
    height: 150px;
    width: 150px;
  }
  .img-aboutMe {
    height: 250px;
    width: 250px;
  }
  .navbar {
    background-color: rgb(104,139,56);
  }
  .navbar-brand {
    color: rgb(104,139,56);
    font-size: 16px; 
  }
  .nav-pills {
    background-color: rgb(104,139,56);
    font-size: 16px; 
  }
  .nav-link {
    background-color: rgb(39,79,114);
    color: white;
  }
  .nav-tabs {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    font-size:20px;
  }
  p {
    color: rgb(39,79,114);
    font: size 12px;
  }
  .p-aboutMeblurb {
    padding:5px;
    color: white;
    font-size:20px;
    background-color:  rgb(100, 88, 152);;
    text-align: center;
  }
  footer {
    background-color: rgb(39,79,114);
    text-align: center;
    color: white;
    font-size: 25px;
  }
  .portfolio-div {
    column-gap: 200px;
  }
  .container-fluid { 
    margin-left: 50px;
    padding-bottom: 50px;
  }
  .a-portfolio {
    font-size: 16px;
  }
  form {
    border-radius: 3px;
    color: rgb(39,79,114);
    border:1px;
  }
   #form_title {
     font-size:20px;
     color: rgb(100, 88, 152);
  }
  label {
    font-weight: bold;
    color: rgb(100, 88, 152);
    text-align: left;
  }
  .thead {
    color: rgb(100, 88, 152);
  }
  .bord-dark {
    border: thick;
    border-color: rgb(39,79,114);
    padding: 20px;
  }
  tbody {
    word-break: break-all;
    color: rgb(100, 88, 152);
  }
  table thead tr td th { 
    color: rgb(100, 88, 152);  font-size: 16px;
  }
  .card-header {
    color: rgb(39,79,114);
    font-size: 25px;
    font-weight: bolder;
  }
  .card-img-top{
    color: white;
    background-color: rgb(39,79,114);
    margin-bottom: 20px;
    padding: 10px;
    height: 150px;
    width: 50px;
  }
  .card-body {
    color: rgb(100, 88, 152);
    margin: 15px;
    border-radius: 10px;
  }
  .card-services {
    background-color: rgb(104,139,56);
    border-radius: 10px;
  }
  .card-body-services {
    color: rgb(100, 88, 152);
    margin: 15px;
    background-color: rgb(104,139,56);
    border-radius: 10px;
  }
  .col-md-3{
    background-color:rgb(104,139,56);
    height: 100%;
  }
  .button {
    color: rgb(104,139,56);
  }
  .no-gutters {
    margin: 40px;
  } 
  .card-title {
    font-size: 25px;
    color:rgb(39,79,114) ;
  }
  .card-title-services {
    font-size: 25px;
    padding: 25px;
    color:white;
    background-color: rgb(100,88,152);
    border-radius: 10px;
    border-color: rgb(39,79,114);
  }
  .card-text {
    padding-bottom: 10px;
    font-size: 16px;
    color:rgb(39,79,114) ;
  }
  .card-text-services {
    padding-bottom: 10px;
    font-size: 20px;
    color:white;  
  }
  .img-container-green {
    background-image: url(../images/greenTrapazoid.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-container-purple-d {
    background-image: url(../images/purpleDiamond.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
  }
  .img-container-purple-s {
    background-image: url(../images/purpleSquare.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .img-background-portfolio {
    background-image: url(../images/busCardBackground.JPG);
    opacity:0.4;
    filter:alpha(opacity=40);
    background-size: cover;
    background-repeat: no-repeat;
  } 
  .body-container {
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* opacity:0.4; */
    filter:alpha(opacity=30);
  }
  .img-container-blue {
    background-image: url(../images/blueTriangle.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
  }
  .img-container-gray-t {
    background-image: url(../images/greyTriangle.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .border-light{
    color: rgb(39,79,114);
  border-width: thick;
  }
  .footer {
    margin-top: 10px;
  }
  @media (max-width: 600px) {
    nav, footer, header body .container{
        width: 100%;
   }}
  @media (max-height: 250px) {
    nav, footer, heade, body  .container{
        width: 100%;
   }
  }
  @media (min-width: 576px) {
    nav, footer, header, body .container{
        padding: 0px;
   }
  }
  @media (min-width: 768px) {
    nav, footer, header, body .container{
        padding: 0px;
   }
  } 
  @media (min-width: 992px) {
    nav, footer, header, body .container {
        padding: 0px;
   }
  }
   @media (min-width: 1200px) {
    nav, footer, header, body  .container {
        padding: 0px; 
   }}